/*
html {
    background-color: #0f0c0f;
    color: #afacaf;
}
*/

body {
    width: 75em;
    margin: 0 auto;
}

#wrapper {
    margin: 1em;
    border: 1px solid #ccc;
    height: 100%;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

#header {
    background-color: #ccc;
    height: 75px;
    color: #fff;
}

#main {
    float: left;
    width: 100%;
    margin: 1em;
    margin-right: -25em;
    min-height: 15em;
}

#sidebar {
    position: relative;
    float: right;
    width: 15em;
    margin: 1em;
    border-left: 1px solid #ddd;
    min-height: 15em;
}

#footer {
    clear: both;
}

/******************************************
 * REUSABLE CLASSES
 ******************************************/

.clearBoth {
    clear: both;
}

/******************************************
 * FORMS
 ******************************************/

form {
    width: 53em;
}

    form label {
        display: block;
        font-size: 1.3em;
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"],
    textarea {
        font-size: 1.3em;
        padding: .3em;
        width: 100%;
    }

        form input.button,
        form .checkbox input {
            width: auto;
        }

    form .element {
        margin: 1em;
    }


/******************************************
 * BLOG ARTICLE
 ******************************************/

.article {
    font-size: 1.1em;
}

    .article h2 {
        font-size: 1.7em;
        margin-bottom: .1em;
    }

    .article .header-sub {
        margin-top: 0;
        padding-top: 0;
        font-size: .9em;
        color: #666;
    }