/*
html {
    background-color: #0f0c0f;
    color: #afacaf;
}
*/

body {
}


/******************************************
 * LAYOUT
 ******************************************/

#wrapper {
    margin: 1em auto;
     /*background:url("http://960.gs/img/16_col.gif") repeat-y scroll 0 0 #FFFFFF;*/
}

#header {
    background-color: #efefef;
    border: 1px solid #ddd;
}

    #header h1 {
        float: left;
        height: 1.7em;
        line-height: 1.7em;
    }

        #header h1 a {
            color: #000;
            text-decoration: none;
            padding: .7em;
            padding-left: 1em;
        }

    #header h2 {
        float: left;
        margin-top: 1.6em;
        color: #777;
    }

#main {
    min-height: 15em;
}

#sidebar {
    font-size: .9em;
}

    #sidebar-inner {
        min-height: 15em;
        border-left: 1px solid #ccc;
        margin: 1em 0 1em .5em;
    }

    #sidebar p {
        text-align: justify;
    }


    #sidebar .block-wrapper {
        margin: 1em;
    }

#footer {
    clear: both;
    margin-top: .5em;
}

#copyright {
    text-align:center;
    font-size: .8em;
    color: #aaa;
}

/******************************************
 * FORMS
 ******************************************/

form {
    display: block;
    width: 100%;
}

    form label {
        display: block;
        font-size: 1.3em;
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"],
    textarea {
        font-size: 1.3em;
        padding: .3em;
        width: 100%;
    }

        form input.button,
        form .checkbox input {
            width: auto;
        }

    form .element {
        margin: 1em 2em 1em 1em;
    }

/******************************************
 * BLOG ARTICLE
 ******************************************/

.article {
    font-size: 1.1em;
    margin: 1em;
}

    .article h2 {
        font-size: 1.7em;
        margin-bottom: .1em;
    }

        .article h2 a {
            color: #000;
            text-decoration: none;
        }

        .article h2 a:hover {
            color: #666;
        }

    .article .header-sub {
        margin-top: 0;
        padding-top: 0;
        font-size: .9em;
        color: #666;
    }

    .article .syntaxhighlighter {
        width: 95% !important;
        margin: 0 auto 1em auto !important;
        font-size: .9em !important;
    }

    .article hr {
        margin: 3em 1em 2em 1em;
        color: #ccc;
    }

    #disqus {
    }

/******************************************
 * GENERAL
 ******************************************/

p.button {
    display: block;
    width: 100%;
}

    p.button a {
        display: block;
        text-align: center;
        padding: .3em;
        color: #000;
        background: #efefef;
        border: 1px solid #ddd;
        text-decoration: none;
    }

        p.button a:hover {
            color: #333;
            background: #ddd;
        }

dl {
    margin: 0 0 .5em 0;
    padding: 0;
}

    dt {
        font-weight: bold;
    }